<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rss</title>
</head>
<body>
    <div class="rss">
        {% for job in jobs %}
        <div class="job">
            <h2>{{ job.title|safe }}</h2>
            <p>{{ job.link|safe }}</p>
            <p>{{ job.description|safe }}</p>
            <p>{{ job.published |safe}}</p>
        </div>
        <h1>========================================================================================</h1>
        {% endfor %}
    </div>


    
</body>
</html>